body {
    font-family: 'Roboto', sans-serif;
}
/* Header */
.purple {
    background-color: #60267F;
    height: 30px;
}
.india {
    font-family: 'DM Sans', sans-serif;
    color: #FFF;
    font-size: 10px;
    text-align: center;
    padding-top: 4px;
}
 span a {
    color: #FFF;
}
.navigation a {
    text-decoration: none;
    color: #2B0236;
    font-weight: 600;
    font-size: 10px;
}
.navigation button {
    color: #9A54BC;
    font-weight: 700;
    font-size: 10px;
    background-color: #FFF;
    border-color: #9A54BC ;
    border-radius: 3px;
} 
/* 1 section */
.title-1 {
color: #2B0236;
font-size: 28.173px;
font-weight: 500;
}
.btn_1 {
background: #9A54BC;
border: 1.482px solid  #9A54BC;
border-radius: 2.964px;
box-shadow: 0px 4.402px 8.804px 0px rgba(0, 0, 0, 0.10);
color: var(--White, #FFF);
font-size: 10.565px;
font-weight: 700;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_2 {
    background: var(--White, #FFF);
    border: 2px solid #9A54BC;
    border-radius: 2.964px;
    box-shadow: 0px 4.402px 8.804px 0px rgba(0, 0, 0, 0.10);
    color: #60267F;
    font-size: 10.565px;
    font-weight: 500;
    margin-top: 300px;
}
/* 2 section */
.title-2 {
    color: #000;
    text-align: center;
    font-size: 25.13px;
    font-weight: 500;
    margin-top: 100px;
}
/* 3 section */
.title-3 {
    color: #000;
    text-align: center;
    font-size: 25.13px;
    font-weight: 500;
    margin-top: 100px;
}
.btt1 {
    background: #60267F;
    border: 4px solid rgba(154, 84, 188, 1);
    color: var(--White, #FFF);
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
}
.btt2 {
    border: none;
    background-color: #FFF;
    color: #000;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
}  
.row {
    background-color: #F2F2F2;
    font-size: 15px;
    width: 100%;
    padding: 30px 20px 30px 20px;
    margin-top: 10px;
}
.phone{
    width: 60%;
    margin-left: 10rem;
}


